body {

    font-family: "Raleway" !important;
}


.timerButtons{
    position: fixed;
    bottom: 5px;
    left: 5px;
    padding: 1.5em;
    padding-top: 0em;
    border-radius: 125px;
    color: #949494;
    background-color: white;
    border: 2px solid #949494;
    box-shadow: 0px 0px 50px #888888;
    z-index: 10;
}
.timerButtons > button{
    opacity: 0.9;
}

#chartTable {
    width: 100%;
}

#chartTable > tbody > tr > td {
    height: 280px;
    width: 33% !important;
    padding: 0;
}

#chartTable > tbody > tr > td {
    border-bottom: 2px dashed #aaa;
}

#chartTable > tbody > tr:first-child > td {
    height: 30px !important;
    text-align: center;
}


#chartTable > tbody > tr:first-child > td > h1{
    padding: 0;
    margin: 0;
}

#chartTable > tbody > tr:last-child > td {
    border-bottom: 0px dashed #aaa;
}


#chartTable > tbody > tr > td {
    border-right: 3px dashed rgba(170,170,170,0.5);
    padding: 1em;
}


#chartTable > tbody > tr > td:last-child {
    border-right: 0px dashed #aaa;
}

#chartTable svg {
    height: 100%;
}
#chartTable div {
    height: 100%;
    width: 100%;
}


.dc-chart .pie-slice.external {
    font-size: 1em;
}